<style>
    .tags-list{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 10px;
    }
    .tags-list ul{
	margin-top: 5px;
        border-left: 1px solid black;
    }
    .tags-list summary{
       font-size: 20px;
       font-weight: bold;
    }
    .tags-list summary::marker{
        color: red;
    }
</style>


<h2>Read the manga</h2>
<div class="tags">
    <div class="tags-list">
	{% assign shownCats = ", "%}
	{% assign shownCats = shownCats | split: ", "%}
        {% for category in site.data.manga_categories %}
            {% assign path = {{site.url}} | append: "/legacy/" | append: {{category.name}} | append: "/" %}
            {% assign shownCats = shownCats | join: ", " %}
            {% unless shownCats contains category.id %}
	    <details open>
		    <summary>{{category.name}}</summary>
			{% if category.subCategories %}
				<ul>
					{% include recursive-manga.html category=category %}
				</ul>
			 {% endif %}
			 {% if category.chapters %}
				<ul>
				    {% if category.chapters.first %}
					{% for chapter in category.chapters %}
					    {% assign chap = site.data.manga_dirs | find:"id", chapter %}
					    {% assign newpath = path | append: {{chap.name}} | replace: " ", "_" %}
					    <li><a href="{{newpath}}">{{chap.name}}</a></li>
					{% endfor %}
				    {% else %}
					{% assign chap = site.data.manga_dirs | find:"id", category.chapters %}
					{% assign newpath = path | append: {{chap.name}} | replace: " ", "_" %}
					<li><a href="{{newpath}}">{{chap.name}}</a></li>
				    {% endif %}
				</ul>
			    {% endif %}
			{% assign shownCats = shownCats | append: ", " | append: {{category.id}} %}
			{% assign shownCats = shownCats | split: ", " %}
           </details>
		    {% endunless %}
	{% endfor %}
    </div>
</div>
