<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HoiHoi-San, Ichigeki Sacchuu!! HoiHoi-San">
    <link rel="stylesheet" href="{{site.url}}/assets/styles/style.css">
    {% for style in layout.styles%}
        <link rel="stylesheet" href="{{site.url}}/assets/styles/{{style}}">
    {% endfor %}
    {% for style in page.styles%}
        <link rel="stylesheet" href="{{site.url}}/assets/styles/{{style}}">
    {% endfor %}
    <link rel="icon" href="/assets/HoiHoiAnimated.gif" type="image/gif">
    <link rel="preload" as="image" href="/assets/img/hoilogo.png">
    <link rel="preload" as="image" href="/assets/img/loading.png">
    <link rel="preload" as="image" href="/assets/img/borderImage_1.png">
    <link rel="preload" as="image" href="/assets/img/borderImage_2.png">
    <link rel="preload" as="image" href="/assets/img/borderImage_3.png">
    <link rel="preload" as="image" href="/assets/img/borderImage_4.png">
    <title>{{ page.title }}</title>
</head>
<body>
    <header>
        <img src="/assets/img/Logo.png" alt="" srcset="">
        <nav>
            <ul>
                {% for pageL in site.data.pages %}
                    <li>
                        {% assign pageL.dir = "/" | append: pageL.dir %}
                        {% if page.url == pageL.dir %}
                            {% assign class="selected" %}
                        {% else %}
                            {% assign class="" %}
                        {% endif %}
                        {% include button.html class=class href=pageL.dir text=pageL.name %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <section>
        {{ content }}
    </section>
    <footer>
        <p>No law intended</p>
        <p> ©Xentex-Mars HQ 2024 - forever </p> 
    </footer>
</body>
</html>
