---
layout: default
styles: 
    - gallery.css
---

{{ content }}

{% include tag-list.html %}

<div class="gallery">
    {% if page.allowed-tag %}
        {% assign images = site.data.images | where: "tags", page.allowed-tag %}
    {% else %}
        {% assign images = site.data.images %}
    {% endif %}
    
    {% assign images = images | reverse %}
 
    {% assign fileTypes = ".jpg, .jpeg, .png, .gif" | split: ", "%}
    
    {% for file in images %}
        <div class="gallery-container">
            {% for fileType in fileTypes %}
                {% assign oldFilename = file.dir %}
                {% assign filename = file.dir | remove: fileType %}
                {% if filename != oldFilename %}
                    {% assign filename = filename | append: ".webp" %}
                    {% break %}
                {% endif %}
            {% endfor %}
            <div class="gallery-img-container">
                 <div>
                     <img loading="lazy" src="{{site.url}}/assets/img/thumbnails/{{filename}}" alt="{{file.alt}}">
                 </div>
            </div>
            <p>{{file.title}}</p>
            {% if file.desc %}
                <p>{{file.desc}}</p>
            {% endif %}
            {% if file.src %}
                <a href="{{file.src}}">Source</a>
            {% endif %}
            {% assign imagePath = "/assets/img/" | append: file.dir %}
        	<div class="gallery-button-container">
			{% include button.html href=imagePath text="View"%}
        		{% include button.html href=imagePath download=file.title text="Download" %}            
        	</div>
        </div>
    {% endfor %}
</div>
